#Protección archivo .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 year"
</IfModule>
# Habilitar las expires y cache control headers
ExpiresActive On
# Define una directiva por defecto (0 segundos de cache)
ExpiresDefault "access plus 0 seconds"

# Caché de 1 año para archivos multimedia
<FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav|mp4)$">
  ExpiresDefault "access plus 1 year"
  Header append Cache-Control "public, proxy-revalidate"
</FilesMatch>

# Caché para archivos de Imagenes
<FilesMatch "\.(gif|jpg|jpeg|png|swf|webp|avif)$">
  ExpiresDefault "access plus 30 days"
  Header append Cache-Control "public, proxy-revalidate"
</FilesMatch>

# Caché para archivos de Web y demas
<FilesMatch "\.(xml|txt|js|css)$">
  ExpiresDefault "access plus 30 days"
  Header append Cache-Control "public, proxy-revalidate"
</FilesMatch>

# Habilitar la compresión gzip para archivos de texto
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>

# Forzar la descarga de archivos gzip en lugar de la versión original
<FilesMatch "\.(js|css)$">
  RewriteEngine On
  RewriteCond %{HTTP:Accept-Encoding} gzip
  RewriteCond %{REQUEST_FILENAME}.gz -f
  RewriteRule ^(.*)$ $1.gz [L]
  Header append Vary Accept-Encoding
</FilesMatch>

# Deshabilitar el caché para archivos dinámicos
<FilesMatch "\.(php|cgi|pl|htm)$">
  ExpiresDefault "access plus 0 seconds"
  Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
  Header set Pragma "no-cache"
</FilesMatch>

# Establecer el tipo MIME de los archivos gzip
<Files *.css.gz>
  ForceType text/css
</Files>
<Files *.js.gz>
  ForceType application/javascript
</Files>